
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --background-gradient-top:#667EEA;
    --background-gradient-bottom: #764BA2;
    --gradient-top: #4D597D;
    --gradient-bottom: #283048;
    --separation-lines: #232323;
    --box-shadow: #0094FF;
    --font-color: #fff;
    --text-shadow: #000;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background: linear-gradient(to bottom, var(--background-gradient-top), var(--background-gradient-bottom));
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div {
    width: 20vw;
    margin: 50px;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom));
    border-radius: 5px;
    color: var(--font-color);
    box-shadow: 0px 4px 4px var(--box-shadow), 0px 4px 4px var(--box-shadow);
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem;
    text-shadow: 0px 4px 4px var(--text-shadow);
}

ul {
    margin-top: 1em;
    color: var(--font-color);
    background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom));
    border-radius: 5px;
    box-shadow: 0px 4px 4px var(--box-shadow), 0px 4px 4px var(--box-shadow);
    text-shadow: 0px 4px 4px var(--text-shadow);
}

/* hr:last-child {
    padding-bottom: 1em;
} */

li {
    padding: 1em;
    padding-left: 2em;
    list-style: none;
    text-shadow: 0px 4px 4px var(--text-shadow);
}

.active {
    text-shadow: 0px 4px 4px var(--box-shadow);
}
hr{
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
@media only screen and (max-width: 450px) {
.container {
    flex-direction: column;
}
div {
    width: 80vw;
    height: ;
}
}
